@page
@model Bistroum.Pages.BistroumModel
@{
    ViewData["Title"] = "Bistroum";
}
<h2>@ViewData["Title"]</h2>

<!--
<h3>@Model.Message</h3>
-->

<p>Tukaj pride napisanega nekaj o bistroumu.</p>

<!-- Ta del se generira za layout skriptami, torej cisto na koncu -->
@section scripts {
    <script src="~/js/bistroum-konec.js" asp-append-version="true"></script>
}

