@page
@model ContactModel
@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"]</h2>
<!---
<h3>@Model.Message</h3>
-->
<!--
<address>
    Martina Krücken<br />
    Pašnica 6<br />
    3272 Rimske Toplice<br />
    Slovenija<br />
    <abbr title="Phone">Telefon:</abbr>
    051-677-346
</address>
-->

<p class="text-justify">Pišite nam na spodnji naslov, če vas zanima kaj več.<br/>Veseli bomo vseh vaših predlogov in pripomb.</p>


<address>
    <strong>Email:</strong> <a href="mailto:info@bistroum.si">info@bistroum.si</a><br />
</address>

<!-- Ta del se generira za layout skriptami, torej cisto na koncu -->
@section scripts {
    <script src="~/js/contact-konec.js" asp-append-version="true"></script>
}
