@page
@model ContactModel
@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"]</h2>
<!---
<h3>@Model.Message</h3>
-->

<!--
<address>
    Martina Krücken<br />
    Pašnica 6<br />
    3272 Rimske Toplice<br />
    Slovenija<br />
    <abbr title="Phone">Telefon:</abbr>
    051-677-346
</address>
-->

<address>
    <strong>Email:</strong> <a href="mailto:info@bistroum.si">info@bistroum.si</a><br />
</address>
