@page
@model IndexModel
@{
    ViewData["Title"] = "Domov";
    string urlParameter = HttpContext.Request.QueryString.ToString();
}


<div class="row">
    <div class="col-xs-12">
        <p class="text-justify">To je test.</p>
    </div>
</div><!-- row -->




