@page
@model IndexModel
@{
    ViewData["Title"] = "Domov";
    string urlParameter = HttpContext.Request.QueryString.ToString();
}


<div class="row">
    <div class="col-xs-12">
        <p class="text-justify">Kar nekaj ljudi ima težave pri računskih operacijah, če na razpolago nima elektronskega kalkulatorja. To je še posebej očitno v času, ko računalnike, pametne telefone in elektronske kalkulatorje srečamo na vsakem koraku. </p>
        <p class="text-justify">Abak je preprost pripomoček za hitro izvajanje aritmetičnih operacij. Ta spletna stran nam predstavi vrsto abaka z imenom soroban. Z njegovo pomočjo lahko enostavnejše izračune opravimo skoraj enako hitro kot z elektronskim kalkulatorjem. Z vajo in trudom pa si soroban lahko predstavljamo tudi v mislih in tako izračune opravimo mentalno.</p>
        <p class="text-justify">Spletna aplikacija nas preko animacij po stopnjah nauči uporabljati soroban in nam ponudi vaje za različne računske operacije. Osredotoči se na 4 osnovne računske operacije (seštevanje, odštevanje, množenje in deljenje), da bi bil cilj bolj realističen in dosegljiv. Izračuni se ustvarijo naključno in pri tem upoštevajo učenje po stopnjah.</p>
        <p class="text-justify">V zavihku 'Soroban' lahko izvemo nekaj zgodovinskih dejstev o tem pripomočku, hkrati pa spoznamo tudi njegovo zgradbo in si preberemo kako se z njim izvaja posamezne računske operacije.</p>
        <p class="text-justify">V zavihku 'Učenje' si lahko preko animacij na konkretnih primerih ogledamo primere vseh računskih operacij po stopnjah.</p>
        <p class="text-justify">V zavihku 'Vaje' lahko najdemo kopico naključno generiranih računskih nalog s pomočjo katerih lahko utrdimo znanje, ki smo ga pridobili v zavihku 'Učenje'</p>
    </div>
</div><!-- row -->




