@page
@model Bistroum.Pages.MnozenjeModel
@{
    ViewData["Title"] = "Množenje";
}

<h2>Množenje</h2>
<p class="text-justify">Pri sorobanu obstaja več metod za množenje. Vzemimo primer 2 * 15 = 30.<br />Število 2 je množitelj, število 15 pa množenec. Manjše od obeh števil ponavadi določimo kot množitelja, ker si ga lažje zapomnimo, ko se moramo večkrat sklicevati nanj. (Kojima, 1970). Množitelja in množenca ponavadi na soroban ne zapišemo. Če pa ju želimo zapisati, potem zapišemo množitelja čisto na levo stran sorobana in z razmakom dveh ali treh stolpcev nato še množenec desno od množitelja kot je prikazano na sliki spodaj. Produkt izračunamo in zapišemo desno od množenca. (Kojima, 1970)</p>

<img src="~/images/soroban06.jpg" class="img-responsive center-block" />
<p class="text-center">Slika: Primer zapisa 2*15 na sorobanu (lastni prikaz, 2018)</p>

<p class="text-justify">Da lahko na sorobanu števila množimo, moramo na pamet poznati poštevanko do 10. Dve enomestni števili torej pomnožimo kar s pomočjo poštevanke in ne uporabimo sorobana.</p>

<h4>Množenje dvomestnega števila z enomestnim</h4>
<p class="text-justify">Če je množenec dvomesten, potem nekateri priporočajo, da z množiteljem najprej pomnožimo zadnjo števko (enice) (Kojima, 1970), drugi pa da najprej pomnožimo desetice.<br />Primer:<br />47 * 8 = 376<br />1. korak:<br />Pomnožimo 4*8 in rezultat 32 zapišemo na soroban v stolpca s stoticami in deseticami kot je prikazano na sliki spodaj. Imamo namreč množenje dvomestnega števila z enomestnim številom in rezultat bo največ tromestno število (99*9=891). Prvi zmnožek zapišemo v stolpca s stoticami in deseticami, pri čemer so stotice v tretjem stolpcu iz desne proti levi. Pri tem ta zmnožek vedno gledamo kot dvomestno število. V primeru, da bi imeli za zmnožek enomestno število (na primer 8), moramo upoštevati vodilno ničlo (torej 08).</p>

<img src="~/images/soroban07.jpg" class="img-responsive center-block" />
<p class="text-center">Slika: Zapis produkta 32 (lastni prikaz, 2018)</p>

<p class="text-justify">Zatem pomnožimo 7*8 in produkt 56 prištejemo na sorobanu premaknjeno za en stolpec v desno, torej v stolpcih z deseticami in enicami. 5 prištejemo v stolpcu z deseticami kot je prikazano na sliki spodaj.</p>

<img src="~/images/soroban08.jpg" class="img-responsive center-block" />
<p class="text-center">Slika: Dodajanje 5 med desetice (lastni prikaz, 2018)</p>

<p class="text-justify">6 prištejemo v stolpcu z enicami kot je prikazano na sliki spodaj.</p>

<img src="~/images/soroban09.jpg" class="img-responsive center-block" />
<p class="text-center">Slika: Dodajanje 6 k enicam (lastni prikaz, 2018)</p>

<p class="text-justify">Dobimo rezultat 376.</p>

<h4>Množenje dveh dvomestnih števil</h4>
<p class="text-justify">Primer:<br />46 * 23 = 1.058<br />1. korak:<br />V zgornjem primeru imamo produkt dvomestnega števila z dvomestnim številom in za produkt pričakujemo največ štirimestno število (99*99=9.801). Zaradi tega prvi zmnožek zapišemo v četrti in tretji stolpec kar pomeni tisočice in stotice. Pri tem moramo vedno upoštevati dvomestni rezultat zmnožka oziroma dodati vodilno ničlo v primeru enomestnega rezultata. V našem primeru torej pomnožimo 4*2 in produkt 08 (dodati moramo vodilno ničlo) zapišemo na soroban v stolpcu s tisočicami in stoticami kot je prikazano na sliki spodaj.</p>

<img src="~/images/soroban10.jpg" class="img-responsive center-block" />
<p class="text-center">Slika: Dodajanje 8 k stoticam (lastni prikaz, 2018)</p>

<p class="text-justify">2. korak:<br />Pomnožimo 4*3 in produkt 12 prištejemo na sorabanu premanknjeno v en stolpec desno, torej v stolpca s stoticami in deseticami kot je prikazano na sliki spodaj:</p>

<img src="~/images/soroban11.jpg" class="img-responsive center-block" />
<p class="text-center">Slika: Dodajanje 12 k stoticam in deseticam (lastni prikaz, 2018)</p>

<p class="text-justify">3. korak:<br />Pomnožimo 6*2 in produkt 12 prištejemo na istem mestu kot pri prejšnjem koraku, torej na sorobanu v stolpca s stoticami in deseticami kot je prikazano na sliki spodaj:</p>

<img src="~/images/soroban12.jpg" class="img-responsive center-block" />
<p class="text-center">Slika: Dodajanje 12 k stoticam in deseticam (lastni prikaz, 2018)</p>

<p class="text-justify">4. korak:<br />Pomnožimo 6*3 in produkt 18 prištejemo na sorobanu ponovno premanknjeno za eno mesto v desno, kar pomeni v stolpca z deseticami in enicami kot je prikazano na sliki spodaj:</p>

<img src="~/images/soroban13.jpg" class="img-responsive center-block" />
<p class="text-center">Slika: Dodajanje 11 k deseticam in enicam (lastni prikaz, 2018)</p>

<p class="text-justify">Dobimo končni rezultat 1.058.</p>

<h4>Množenje tri in večmestnih števil</h4>
<p class="text-justify">Ne glede na to koliko mest ima množitelj, je postopek izračuna enak kot pri dvomestnem množitelju. Paziti je potrebno le na to, da vmesnih produktov ne prištevamo v napačen stolpec. (Kojima, 1970)</p>

<p class="text-justify">Viri:</p>
<p class="text-justify">Kojima, T. (1970). The japanese abacus: Its use and theory. Tokyo: Charles E. Tuttle Company</p>
