@page
@model Bistroum.Pages.PredstavitevModel
@{
    ViewData["Title"] = "Predstavitev";
}

<h2>Predstavitev</h2>
<p class="text-justify">Soroban je japonsko ime za abak. Z njegovo pomočjo lahko hitro izračunamo težavnejše aritmetične operacije, ki bi jih sicer lahko samo s pomočjo papirja in svinčnika. Računske operacije vključujejo seštevanje, odštevanje, množenje, deljenje in izračun korenov. (Kojima, 1970)</p>

<p class="text-justify">Abak še danes uporablja vsaj 50 milijonov Kitajcev. Gre predvsem za spretne trgovce, ki znajo zelo urno rokovati s tem pripomočkom in učence, ki jim računanje na abak predstavlja del obveznega programa v osnovnih šolah. Obstajajo pa tudi podjetja, ki od svojih zaposlenih pričakujejo tudi poznavanje tovrstnega računanja. Veliko ljudi ima miniaturni abak ves čas pri sebi in brez njega ne odidejo od doma. (pro-mens.com, 2018) Spodnja slika iz leta 2013 prikazuje trgovca v Honk Kongu, ki abak vsakodnevno uporablja v svoji prodajalni.</p>

<img src="~/images/soroban03.png" class="img-responsive center-block" />
<p class="text-center">Slika: Trgovec v Honk Kongu (ryerson.ca, 2018)</p>

<p class="text-justify">Veliko pedagogov meni, da se s pomočjo abaka lahko osnovne matematične pojme nauči bolje kot le s pomočjo pisala, papirja in kalkulatorja. Trdijo, da računanje na abak bolj stimulira možganske polovice kot, če se te operacije izvede na kalkulatorju. Opazili so tudi, da so učenci s težavami pri računanju hitreje premostili težave, če so se naučili uporabljati še abak. Trdijo, da si stvari bolje zapomnimo, če je pri učenju vključenih čim več čutil. Pri abaku se otroci lahko dotikajo kroglic, jih vidno spremljajo pri gibanju in povrhu še slišijo, ko se prestavljajo. (pro-mens.com, 2018)</p>

<p class="text-justify">Raziskave so pokazale, da dodatno poučevanje mentalnega računanja s pomočjo vizualizacije abaka izboljša spomin in pripomore k razvijanju abstraktnega razmišljanja. Mentalno računanje na abak dodatno izboljša tudi razumevanje koncepta števil. Pokazalo se je, da takšni učenci postanejo bolj motivirani in pozitivno naravnani glede učenja in se aktivneje vključujejo pri pouku. Bolj jih privlačijo tudi učne ure iz matematike. Zgodnje poučenje otrok s pomočjo abaka izboljša njihovo splošno sposobnost reševanja problemov. (ed.gov, 2018) Abak je uporaben tudi kot učni pripomoček pri učenju slepih in ti z njegovo pomočjo hitreje osvojijo računske operacije. (pro-mens.com, 2018)</p>

<p class="text-justify">Viri:</p>
<p class="text-justify">Kojima, T. (1970). The japanese abacus: Its use and theory. Tokyo: Charles E. Tuttle Company</p>
<p class="text-justify">SuanPan kroz istoriju. (29. 9. 2018). Pridobljeno iz https://www.pro-mens.com/pro-mens-programi/21-suanpan-kroz-istoriju</p>


