@page
@model Bistroum.Pages.SestevanjeModel
@{
    ViewData["Title"] = "Seštevanje";
}

<h2>Seštevanje</h2>

<p class="text-justify">Glavne računske operacije na sorobanu so seštevanje, odštevanje, množenje in deljenje. Seštevanje in odštevanje sta osnovni operaciji saj brez znanja teh dveh ne moremo množiti ali deliti. Na stolpcu, ki je označen s piko, nastavimo enomestna število in zadnjo števko večjih številk, kar predstavlja enice. (Kojima, 1970)</p>

<h4>Mali prijatelj</h4>
<p class="text-justify">Pri seštevanju ali odštevanju se nam lahko zgodi, da imamo prehod preko osrednje prečke, kar se imenuje mali prijatelj (v tujini se uporablja izraz "little friend" ali "partner"). Tak prehod se zgodi takrat, ko imamo pod osrednjo prečko premalo prostih kroglic, z vrednostjo 1. Pri čemer pa smo še vedno na istem stolpcu in kroglic sosednjih stolpcev ne potrebujemo. V tem primeru si vedno pomagamo s kroglico vrednosti 5, ki se nahaja nad osrednjo prečko. Da poiščemo številu njegovega malega prijatelja, izračunamo, koliko temu številu manjka do vrednosti 5. Za število 1 je mali prijatelj 4, za število 2 je mali prijatelj 3, za število 3 je mali prijatelj 2 in za število 4 je mali prijatelj 1. Druga števila nimajo majhnih prijateljev.</p>

<p class="text-justify">Pri seštevanju (oziroma odštevanju), kjer moramo uporabiti malega prijatelja, to naredimo tako, da prištejemo (oziroma odštejemo) vrednost 5 ter odštejemo (oziroma prištejemo) vrednost malega prijatelja.</p>

<h4>Mali prijatelj pri seštevanju</h4>
<p class="text-justify">4+3=7<br />Ker se tri posamezne kroglice vredne 1 ne da prišteti k štirim kroglicam vrednim 1, si pomagamo z malim prijateljem.</p>

<img src="~/images/soroban20.jpg" class="img-responsive center-block" />
<p class="text-center">Slika: Število 4 na sorobanu (lastni prikaz, 2019)</p>

<p class="text-justify">Da številu prištejemo 3, je matematično enako kot če številu najprej odštejemo 2 (mali prijatelj števila 3) in nato prištejemo 5.</p>

<img src="~/images/soroban21.jpg" class="img-responsive center-block" />
<p class="text-center">Slika: Odštevanje malega prijatelja (števila 2) (lastni prikaz, 2019)</p>

<p class="text-justify">To se lahko prikaže s spodnjim zapisom:<br />4 + 3 = 4 + (-2 + 5) = 7</p>

<img src="~/images/soroban22.jpg" class="img-responsive center-block" />
<p class="text-center">Slika: Končni rezultat v obliki števila 7 (lastni prikaz, 2019)</p>

<p class="text-justify">Videli smo, da izračuna 4+3 nismo mogli narediti z direktnimi premiki, če pa smo uporabili malega prijatelja, smo izračun lahko naredili saj smo pod osrednjo prečko lahko odšteli 2 kroglice in nad osrednjo prečko kroglico vrednosti 5 prišteli. </p>

<h4>Mali prijatelj pri odštevanju</h4>
<p class="text-justify">7-3=4<br />Kot pri prejšnjem primeru tudi tukaj ne moremo odšteti treh kroglic vrednosti 1, ker imamo spodaj samo 2 kroglici vrednosti 1.</p>

<img src="~/images/soroban22.jpg" class="img-responsive center-block" />
<p class="text-center">Slika: Število 7 na sorobanu (lastni prikaz, 2019)</p>

<p class="text-justify">Matematično je to, da odštejemo število 3, enako kot če najprej odštejemo število 5 ter nato prištejemo vrednost 2 (mali prijatelj števila 3).</p>

<img src="~/images/soroban23.jpg" class="img-responsive center-block" />
<p class="text-center">Slika: Odštevanje števila 5 (lastni prikaz, 2019)</p>

<p class="text-justify">To lahko ponazorimo z zapisom:<br />7 - 3 = 7 + (-5 + 2) = 4</p>

<img src="~/images/soroban24.jpg" class="img-responsive center-block" />
<p class="text-center">Slika: Končni rezultat v obliki števila 4 (lastni prikaz, 2019)</p>

<p class="text-justify">Enako kot pri prvem primeru malega prijatelja, smo imeli izračun, kjer direktno ne bi mogli narediti izračuna na sorobanu. Lahko smo pa z upoštevanjem malega prijatelja preko 5 naredili izračun.</p>

<h4>Veliki prijatelj</h4>
<p class="text-justify">Drug primer prehoda, kjer ne moremo narediti izračuna direktno, prav tako pa ne z malim prijateljem, je prehod na drugi stolpec (levo od našega stolpca). Tak primer je, ko želimo sešteti dve števili, njuna vsota pa je več kot 10 (pri odštevanju je primer, ko so enice odštevanca večje od enic zmanjševanca, primer 12 - 9). V tem primeru si pomagamo z velikim prijateljem (v tujini se uporablja izraz "big friend" ali "friend"). Veliki prijatelj danega števila je takšno število, da je njuna vsota enaka 10. Pari velikih prijatelji števil so tako 1 in 9, 2 in 8, 3 in 7, 4 in 6 ter 5 in 5.</p>

<p class="text-justify">Pri seštevanju, kjer moramo uporabiti velikega prijatelja, to naredimo tako, da odštejemo vrednost velikega prijatelja in nato prištejemo vrednost 10. Pri odštevanju pa je vrstni red drugačen. Najprej odštejemo vrednost 10 in nato prištejemo vrednost velikega prijatelja. Pomembno je, da upoštevamo opisani vrstni red. Računsko je res vseeno, katero operacijo naredimo. Ko pa pridemo do računanja z večmestnimi števili, se izkaže, da je za poenostavitev računanja pomemben tudi vrstni red.</p>

<h4>Veliki prijatelj pri seštevanju</h4>
<p class="text-justify">9+7=10<br />Ker 7 ne moremo dodati k 9 v stolpcu z enicami, uporabimo velikega prijatelja.</p>

<img src="~/images/soroban25.jpg" class="img-responsive center-block" />
<p class="text-center">Slika: Število 9 na sorobanu (lastni prikaz, 2019)</p>

<p class="text-justify">Matematično je enako, če številu prištejemo 7 ali pa če najprej številu odštejemo 3 in nato prištejemo 10.</p>

<img src="~/images/soroban26.jpg" class="img-responsive center-block" />
<p class="text-center">Slika: Odštevanje števila 3 (lastni prikaz, 2019)</p>

<p class="text-justify">To lahko ponazorimo z zapisom:<br />9 + 7 = 9 - 3  + 10 = 16</p>

<img src="~/images/soroban27.jpg" class="img-responsive center-block" />
<p class="text-center">Slika: Prištevanje števila 10 in izpis končnega rezultata (lastni prikaz, 2019)</p>

<p class="text-justify">Kot je že napisano zgoraj, je bolje, da svoje pozornosti ne obračamo iz enic na desetice in potem spet nazaj na enice, ampak pri enicah ostanemo do konca in se šele nato prestavimo k deseticam. Zato najprej odštejemo število 3 in nato prištejemo število 10. Prednost takšnega postopka se izraziteje pokaže pri večmestnih številkah. Na primer:<br />996 + 7 = 1003</p>

<img src="~/images/soroban28.jpg" class="img-responsive center-block" />
<p class="text-center">Slika: Število 996 na sorobanu (lastni prikaz, 2019)</p>

<p class="text-justify">V zgornjem primeru bi se v nasprotnem primeru sicer morali vračati iz tisočic nazaj k enicam. Tako pa najprej odštejemo 3 enice in se nato sistematično prebijamo preko desetic in stotic k tisočicam. (Kojima, 1970)</p>

<h4>Veliki prijatelj pri odštevanju</h4>
<p class="text-justify">Primer:<br />16-7=9</p>

<img src="~/images/soroban29.jpg" class="img-responsive center-block" />
<p class="text-center">Slika: Število 16 na sorobanu (lastni prikaz, 2019)</p>

<p class="text-justify">Ker 7 ne moremo odšteti od 6 v stolpu z enicami, odštejemo 10 v stolpcu z deseticami ter prištejemo 3 (3 je veliki prijatelj od 10).</p>

<img src="~/images/soroban30.jpg" class="img-responsive center-block" />
<p class="text-center">Slika: Odštevanje števila 10 (lastni prikaz, 2019)</p>

<p class="text-justify">To lahko ponazorimo z zapisom:<br />16 - 7 = 16 - 10 + 3 = 9</p>

<img src="~/images/soroban31.jpg" class="img-responsive center-block" />
<p class="text-center">Slika: Prištevanje števila 3 (lastni prikaz, 2019)</p>

<p class="text-justify">Ko pri odštevanju sodelujeta dva stolpca, kot na primer v zgornjem primeru 16 - 7, je potrebno najprej odšteti desetice in potem prišteti enice (kot je že napisano pri opisu velikega prijatelja). Prednost takšnega vrstnega reda se pokaže pri večmestnih številih, na primer v primeru 1.000 - 9 = 991, kjer najprej odštejemo tisočico in nato sistematično dodajmo stoticem desetice in enice. (Kojima, 1970)</p>

<img src="~/images/soroban31.jpg" class="img-responsive center-block" />
<p class="text-center">Slika: Število 1.000 na sorobanu (lastni prikaz, 2019)</p>

<p class="text-justify">Operaciji seštevanja in odštevanja, ki vključujeta dva stolpca, lahko poenostavimo z uporabo velikih in malih prijateljev (ali komplementarnih števil). Če si zapomnimo zgornje komplementarne pare (velike in male prijatelje), lahko zmanjšamo miselni trud ter poenostavimo in pohitrimo izračun. (Kojima, 1970)<br /><br />Primer klasičnega izračuna kot smo ga sicer vajeni:<br /> 99<br />+88<br />+77<br />+66<br />-------<br />9+8=17, 17+7=24, 24+6=30 in nato dodamo 3 k deseticam ter se lotimo izračuna desetic.<br /><br />Uporaba komplementarnih številk zgornji postopek poenostavi in pohitri. Ena od prednosti izračuna na soroban v primerjavi z računanjem, kot smo ga vajeni, je tudi izračun številk na sorobanu iz leve proti desni, ker gre za isto smer kot pri zapisu in branju številk v vsakdanjem življenju (razen v primeru desetic in enic v slovenskem jeziku - v primeru angleškega jezika tudi te izjeme ni in se vsa števila preberejo v tem vrstnem redu). Večmestne številke na sorobanu pričnemo zapisovati iz leve proti desni. Če številke na soroban zapisujemo iz leve proti desni, je to prednost saj jih v tem vrstnem redu tudi slišimo in si jih lahko sproti zapisujemo oziroma zapomnimo. Tudi ko večmestne številke seštevamo ali odštevamo, svojo pozornost in izračun začnemo od leve proti desni torej pri števki najbolj levo. (Kojima, 1970)</p>

<h4>Mali in veliki prijatelj pri seštevanju</h4>
<p class="text-justify">Lahko se nam zgodi tudi, da imamo pri eni operaciji hkrati dva prehoda in sicer preko osrednje prečke z malim prijateljem in preko sosednjega stolpca z velikim prijateljem. Ti primeri niso tako pogosti, ker lahko večino rešimo samo z direktnim računanjem, z malim ali velikim prijateljem.<br /><br />Primeri seštevanj, ko moramo hkrati uporabiti mali in veliki prijatelj:<br />5 + {6, 7, 8, 9}<br />6 + {6, 7, 8}<br />7 + {6, 7}<br />8 + {6}<br /><br />Če imamo primer 5 + 6 izračunamo kot 5 - 4 + 10 = 5 - (5 - 1) + 10. V tem primeru smo uporabili malega in velikega prijatelja.</p>

<h4>Mali in veliki prijatelj pri odštevanju</h4>
<p class="text-justify">Pri odštevanju se nam lahko prav tako zgodi, da moramo pri eni operaciji narediti prehod preko osrednje prečke z malim prijateljem in preko sosednjega stolpca z velikim prijateljem. Tako kot pri seštevanju tudi tukaj primeri niso pogosti, saj jih večino lahko rešimo ali z direktnim odštevanjem ali pa samo z uporabo enega izmed prijateljev.<br /><br />Primeri odštevanj, ko moramo hkrati uporabiti mali in veliki prijatelj:<br />11 - {6}<br />12 - {6, 7}<br />13 - {6, 7, 8}<br />14 - {6, 7, 8, 9}<br /><br />Primer računa 13 - 7 tako izračunamo kot 13 - 10 + 3 = 13 - 10 + (5 - 2). Z uporabo malega in velikega prijatelja smo lahko na sorobanu izračunali primer, ki ga sicer brez teh prehodov ne bi mogli izračunati.</p>

<h4>Seštevanje in odštevanje večmestnih števil</h4>
<p class="text-justify">Ko na Sorobanu vpisujemo dvomestna števila, moramo najprej nastaviti desetice. Tudi ko dvomestna števila seštevamo ali odštevamo, najprej seštejemo ali odštejemo desetice. Na sorobanu računske operacije vedno izvajamo iz leve proti desni. Pri tri in večemestnih številih je postopek enak kot pri dvomestnih številih. Če so števila, ki jih moramo seštevati in odštevati, zapisana druga pod drugo, si lahko pomagamo tako, da okvir sorobana nastavimo pod število s katerim operiramo. (Kojima, 1970)</p>

<p class="text-justify">Viri:</p>
<p class="text-justify">Kojima, T. (1970). The japanese abacus: Its use and theory. Tokyo: Charles E. Tuttle Company</p>
