@page
@model SorobanModel
@{
    ViewData["Title"] = "Soroban";
}
<h2>@ViewData["Title"]</h2>
<!--
<h3>@Model.Message</h3>
-->

<div class="row">
    <div class="col-xs-12">

        <p class="text-justify">Soroban je računalo, ki so ga razvili na Japonskem. Nastal je iz starodavnega kitajskega računala imenovanega suanpan, ki so ga uvozili na Japonsko okoli 14. stoletja. Kljub vsej današnji tehnologiji se danes soroban še vedno uporablja.</p>
         
        <img src="~/images/soroban01.jpg" class="img-responsive center-block" />

            <h2>Kratka zgodovina</h2>

            <p class="text-justify">Soroban ni bil razširjen v uporabi do 17. stoletja, čeprav so ga uporabljali trgovci od njegovega izuma. Ko pa je soroban postal priljubljen in poznan med prebivalci, so ga mnogi japonski matematiki začeli intenzivno študirati, tudi Seki Takakazu (znan tudi kot Seki Kōwa). S temi študijami so izboljšali soroban ter način računanja na njega.</p>

            <p class="text-justify">Glede konstrukcije sorobana se je skozi zgodovino število kroglic zmanjševalo. Še posebej takrat, ko jo Japonci prešli s šestnajstiškega številskega sistema na desetiškega. Okoli leta 1850 je bile ena zgornja kroglica odstranjena. Tako novo oblikovani soroban se je uporabljal hkrati s suanpanom do začetka dobe Meiji. Po tem je suanpan izginil iz uporabe. Leta 1891 je Irie Garyū odstranil še eno spodnjo kroglico in tako naredil soroban takšen, ki se uporablja še danes. Ta konfiguracija je bila kasneje ponovno predstavljena leta 1930 in postala popularna od leta 1940 dalje.</p>

            <p class="text-justify">Ko so uvozili suanpan na Japonsko, so zraven uvozili tudi tabelo deljenj. Metoda, ki je uporabljala to tabelo, se je imenovala kyūkihō (angleško »nine returning method«), ime tabele pa je bilo hassan (angleško »eight calculation«). Uporaba te tabele s suanpanom je bila prvotno popularna zaradi šestnajstiškega številskega sistema na Japonskem. Ker pa je bila uporaba te tabele zakomplicirana in se jo je bilo potrebno naučiti na pamet enako kot tabelo množenj, so jo leta 1935 opustili (kmalu zatem, ko so leta 1930 naredili današnjo verzijo sorobana) s tako imenovano standardno metodo menjave. Ta standardna metoda deljenja, danes predlagana s strani japonskega komiteja abakusa, je v resnici stara metoda, ki uporablja štetje palic, in jo je prvič predlagal matematik Momokawa Chubei leta 1645.</p>

            <h2>Zgradba sorobana</h2>

            <p class="text-justify">Soroban je sestavljen iz lihega števila stolpcev oziroma palic. Vsaka palica ima kroglice in sicer zgoraj je ena kroglica, ki je vredna 5 (imenuje se go-dama, angleško »five-bead«) ter spodaj štiri kroglice, vsaka vredna po 1 (z imenom ichi-dama, angleško »one-bead«). Med zgornjo kroglico in spodnjimi kroglicami je vodoravna palica, ki se uporablja za preračunavanje. Razlika med sorobanom in suanpanom je ta, da ima soroban manjše število kroglic. Pri suanpanu sta nad in pod sredinsko palico po ena kroglica več – nad palico sta dve kroglici in po palico je pet kroglic.</p>

            <p class="text-justify">Na spodnji sliki vidimo primerjavo med suanpanom in sorobanom.</p>

            <img src="~/images/soroban02.jpg" class="img-responsive center-block" />

            <p  class="text-center">Vir slike: wikipedia.org</p>

            <p class="text-justify">Standardna velikost sorobana je 13 palic. Število palic sorobana je vedno vsaj devet. V praksi pa je veliko sorobanov, ki imajo še večje število palic – pogosto tudi 21, 23, 27 ali celo 31. Z večjim številom palic lahko potem tudi računamo z večjimi števili na soroban.</p>

            <p class="text-justify">Soroban izdelujejo iz različnih materialov. Večina sorobanov na Japonskem je narejena iz lesa in imajo kroglice narejene iz lesa, kovine, ratana ali bambusa. V indiji pa je ogromno tudi plastičnih sorobanov v šolah, kjer se učijo računanja na soroban.</p>

            <p class="text-justify">Dodatna razlika med sorobanom ter suanpanom je ta, da ima soroban označeno piko na vsaki tretji palici. To so osnovne palice in vsaka od njih je tako označena, da lahko prikazuje decimalno vejico. Vse palice levo od te tako predstavljajo celi del števila in vse palice desno od nje predstavljajo decimalke števila. Označene pike na palicah levo od decimalke so oznaka ta tisočice in tako naprej. Suanpan običajno teh oznak nima.</p>

            <h2>Uporaba danes</h2>

            <p class="text-justify">Kljub priljubljenosti ročnih kalkulatorjev, se soroban danes še vedno zelo veliko uporablja. Sorobana se otroci učijo v osnovni šoli pri matematiki saj se lahko zelo nazorno vizualno prikaže desetiški sistem.</p>

            <p class="text-justify">Ljudje, ki so se naučili uporabljati soroban, skoraj samodejno postanejo spretni pri mentalnem računanju brez sorobana s pomočjo vizualizacije, imenovano anzan (angleško »blind calculation«). Pri starejših študentih se zahteva mentalno računanje s pomočjo vizualizacije in reševanje naloge brez poskušanja ugibanja rešitve vnaprej.</p>

            <p class="text-justify">Soroban je prav tako osnova za dva različna računala za slepe. Prvo narejen tako, da se namesto kroglic uporabljajo flip stikala. Drugo računalo je Cranmer abakus, ki ima okrogle kroglice, daljša palice ter usnjeno ozadje, da kroglice ne drsijo med uporabo.</p>
        </div> <!-- col-xs-12 -->
    </div> <!-- row -->

        <!-- Ta del se generira za layout skriptami, torej cisto na koncu -->
        @section scripts {
            <script src="~/js/soroban-konec.js" asp-append-version="true"></script>
        }
