@page
@model Bistroum.Pages.UcenjeModel
@{
    ViewData["Title"] = "Učenje";
}

<!--
<h2>@ViewData["Title"]</h2>
-->

<!--
<h3>@Model.Message</h3>
-->


<div class="row">
    <div class="col-xs-2">
        @{
            string urlParameter = HttpContext.Request.QueryString.ToString();

            // Zapis stevil
            if (urlParameter == "?i=1")
            {
                <div class="podmeniNaslov">Učenje</div>
                <div class="podmeniNaslov">Zapis števil</div>
                <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                    <button type="button" class="btn btn-default" onclick="prikaziRacunAnimacije('1a')">Enomestno</button>
                    <button type="button" class="btn btn-default" onclick="prikaziRacunAnimacije('1b')">Dvomestno</button>
                </div>
            }
            // Direktno racunanje
            else if (urlParameter == "?i=2")
            {
                <div class="podmeniNaslov">Učenje</div>
                <div class="podmeniNaslov">Direktno računanje</div>
                <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                    <button type="button" class="btn btn-default" onclick="prikaziRacunAnimacije('2a')">Seštevanje</button>
                    <button type="button" class="btn btn-default" onclick="prikaziRacunAnimacije('2b')">Odštevanje</button>
                    <button type="button" class="btn btn-default" onclick="prikaziRacunAnimacije('2c')">Mešano</button>
                </div>
            }
            // Mali prijatelj
            else if (urlParameter == "?i=3")
            {
                <div class="podmeniNaslov">Učenje</div>
                <div class="podmeniNaslov">Mali prijatelj</div>
                <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                    <button type="button" class="btn btn-default" onclick="prikaziRacunAnimacije('3a')">Seštevanje</button>
                    <button type="button" class="btn btn-default" onclick="prikaziRacunAnimacije('3b')">Odštevanje</button>
                    <button type="button" class="btn btn-default" onclick="prikaziRacunAnimacije('3c')">Mešano</button>
                </div>
            }
            // Veliki prijatelj
            else if (urlParameter == "?i=4")
            {
                <div class="podmeniNaslov">Učenje</div>
                <div class="podmeniNaslov">Veliki prijatelj</div>
                <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                    <button type="button" class="btn btn-default" onclick="prikaziRacunAnimacije('4a')">Seštevanje</button>
                    <button type="button" class="btn btn-default" onclick="prikaziRacunAnimacije('4b')">Odštevanje</button>
                    <button type="button" class="btn btn-default" onclick="prikaziRacunAnimacije('4c')">Mešano</button>
                </div>
            }
            // Kombinacija
            else if (urlParameter == "?i=5")
            {
                <div class="podmeniNaslov">Učenje</div>
                <div class="podmeniNaslov">Kombinacija</div>
                <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                    <button type="button" class="btn btn-default" onclick="prikaziRacunAnimacije('5a')">Seštevanje</button>
                    <button type="button" class="btn btn-default" onclick="prikaziRacunAnimacije('5b')">Odštevanje</button>
                    <button type="button" class="btn btn-default" onclick="prikaziRacunAnimacije('5c')">Mešano</button>
                </div>
            }
            // Množenje
            else if (urlParameter == "?i=6")
            {
                <div class="podmeniNaslov">Učenje</div>
                <div class="podmeniNaslov">Množenje</div>
                <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                    <button type="button" class="btn btn-default" onclick="prikaziRacunAnimacije('6a')">Enomestno</button>
                    <button type="button" class="btn btn-default" onclick="prikaziRacunAnimacije('6b')">Dvomestno</button>
                </div>
            }
            // Deljenje
            else if (urlParameter == "?i=7")
            {
                <div class="podmeniNaslov">Učenje</div>
                <div class="podmeniNaslov">Deljenje</div>
                <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                    <button type="button" class="btn btn-default" onclick="prikaziRacunAnimacije('7a')">Enomestno</button>
                </div>
            }
        }

    </div> <!-- col-xs-2 -->
    <div id="DivSvg" class="col-xs-7">

    </div> <!-- col-xs-2 -->
    <div class="col-xs-3">
        <div>
            <b>Primer računa:</b>
        </div>
        <div id="racunUcenje"></div>
    </div> <!-- col-xs-3 -->

</div><!-- row -->

<!--
<div>
    <svg id="sorobanSVG" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 500">
        <ellipse id="15" cx="520" cy="76" rx="49" ry="31">
            <animate attributeType="XML" attributeName="cy" from="76" to="176" dur="10s" repeatCount="indefinite">
            </animate>
        </ellipse>
    </svg>

</div>
-->


<div class="row">
    <div class="col-xs-1" style="border-color:black;border-style:solid">
        S1
    </div>
    <div class="col-md-1" style="border-color:black;border-style:solid">
        S2
    </div>
    <div class="col-md-1" style="border-color:black;border-style:solid">
        S3
    </div>
    <div class="col-md-1" style="border-color:black;border-style:solid">
        S4
    </div>
    <div class="col-md-1" style="border-color:black;border-style:solid">
        S5
    </div>
    <div class="col-md-1" style="border-color:black;border-style:solid">
        S6
    </div>
    <div class="col-md-1" style="border-color:black;border-style:solid">
        S7
    </div>
    <div class="col-md-1" style="border-color:black;border-style:solid">
        S8
    </div>
    <div class="col-md-1" style="border-color:black;border-style:solid">
        S9
    </div>
    <div class="col-md-1" style="border-color:black;border-style:solid">
        S10
    </div>
    <div class="col-md-1" style="border-color:black;border-style:solid">
        S11
    </div>
    <div class="col-md-1" style="border-color:black;border-style:solid">
        S12
    </div>
</div>

<!-- Ta del se generira za layout skriptami, torej cisto na koncu -->
@section scripts {
    <script src="~/js/ucenje-konec.js" asp-append-version="true"></script>
}

