@page
@model Bistroum.Pages.UporabaModel
@{
    ViewData["Title"] = "Uporaba";
}

<h2>Uporaba</h2>
<p class="text-justify">Pred uporabo sorobana je le tega potrebno nastaviti tako, da so kroglice v prvotni poziciji brez vrednosti in je na sorobanu prikazano število 0. To dosežemo tako, da vse kroglice nad osrednjo prečko premaknemo navzgor, kroglice pod prečko pa navzdol. Soroban počistimo tako, da ga najprej nagnemo tako, da kroglice pod osrednjo prečko padejo navzdol. Nato pa z enim od prstov podrsamo po zgornjem delu osrednje prečke tako, da se kroglice nad prečko premaknejo stran od nje. Soroban temelji na decimalnem sistemu in za lažjo uporabo je na okvirju pri vsakem tretjem stolpcu narisana pika. Te pike označujejo decimalno vejico. Če na sredini sorobana poiščemo palico s piko, potem velja, da prvo palico levo od pike imenujemo desetiška, drugo stotiška, tretjo (ponovno je označena s piko) tisočiška, itd. Na palici z enicami ima vsaka od štirih kroglic, ki se nahajajo pod osrednjo prečko vrednost 1, medtem ko ima kroglica nad osrednjo prečko vrednost 5. Kroglice pod prečko na palici z enicami pridobijo vrednost 1, ko se premaknejo navzgor proti prečki in izgubijo vrednost 1, ko se premaknejo navzdol stran od prečke na prvotno pozicijo. Kroglica nad osrednjo prečko na palici z enicami pridobi vrednost 5, ko se premakne navzdol proti prečki in izgubi vrednost 5, ko se premakne navzgor stran od prečke na prvotno pozicijo.  (Kojima, 1970) Obstajajo tudi sorobani, ki imajo na vrhu gumb s katerim soroban počistimo avtomatično.</p>

<p class="text-justify">Pri računanju na soroban uporabljamo dva prsta in sicer kazalec ter palec. Nekateri sicer uporabljajo le kazalec, a poizkusi so pokazali, da je učinkoviteje uporabljati še palec. S kazalcem se premika kroglice nad osrednjo prečko gor in dol ter kroglice pod osrednjo prečko navzdol. Palec pa se uporablja le za premike kroglic pod osrednjo prečko navgor. Če želimo na sorobanu nastaviti številko 7, lahko s kazalcem in pomočjo palca to naredimo v eni potezi. Poizkusi so pokazali tudi, da lahko s palcem kroglice pod prečko hitreje, močneje in bolj natančno premikamo navzgor kot pa s kazalcem. Hitrost računanja povečamo tudi tako, da so prsti čim bližje računalu. Pri zapisovanju dvomestnih števil na sorobanu najprej nastavimo desetice in nato enice (Kojima, 1970)</p>

<p class="text-justify">V nekaterih knjigah navajajo, da kroglice pod osrednjo prečko vedno premikamo dol s kazalcem (Kojima, 1970), medtem ko druge priporočajo, da lahko v primeru hkratnega premika kroglice nad prečko in kroglice pod prečko pri slednji uporabimo palec.</p>

<p class="text-justify">Viri:</p>
<p class="text-justify">Kojima, T. (1970). The japanese abacus: Its use and theory. Tokyo: Charles E. Tuttle Company</p>
