@page
@model Bistroum.Pages.ZgodovinaModel
@{
    ViewData["Title"] = "Zgodovina";
}

<h2>Zgodovina</h2>
<p class="text-justify">Čeprav je točen izvor abaka nejasen, predvidevajo, da se je v prvotni obliki pojavil kot tabla za računanje prekrita s peskom, po kateri so pisali s pisalom in jo izbrisali s pomočjo roke. (Kojima, 1970) Prednost tabel s peskom je bila ta, da se jih je lahko prestavilo in ob tem na njih ohranilo izračun. (ryerson.ca, 2018) Table prekrite s peskom so tako poznali na področju Mezopotanije že Sumerci 2.700 do 2.300 let pr. n. št. Kasneje pa so jih na tem področju našli tudi pri Babiloncih, ki so jih uporabljali predvsem za osnovne računske operacije kot sta seštevanje in odštevanje. Za bolj kompleksne operacije pa so bile te primitivne naprave neprimerne. (Abacus Maths, 2018) Beseda abak etimološko izvira iz grške besede abax, ki pomeni omenjeno tablo za računanje, ki je pokrita s peskom. Kasneje je tablo s peskom nadomestila tabla z izdolbljenimi žlebovi, v katere se je razvrstilo kroglice in tako zapisalo števila. (Kojima, 1970) Tablico z izdolbljenimi žlebovi so uporabljali v Egiptu, Grčiji, Rimu, Indiji in drugih starodavnih civilizacijah. (Abacus Maths, 2018) Rimljani so takšne table izdelovali iz kamna ter kovin in marsikatera se je zaradi obstojnega materiala ohranila do danes. (ryerson.ca, 2018)</p>

<img src="~/images/soroban04.png" class="img-responsive center-block" />
<p class="text-center">Slika: Žlebičast abak iz Egipta (abacus-maths.com, 2018)</p>

<p class="text-justify">V Evropi so bile različne oblike abakov z žlebovi v veljavi do 17. stoletja. Vmes se je v nekaterih delih sveta pojavila še ena oblika abaka, ki je imela na tabli z žlebovi namesto fizično ločenih kroglic nameščene fiksne premične kroglice. Vse tri oblike abakov so uporabljali v antičnem Rimu. Poznali so torej tablo posuto s prahom, tablo z žlebovi in tablo s fiksnimi kroglicami. Iz slednje se je razvila še četrta oblika in sicer abak v obliki okvirja s palicami na katerih so se gor in dol lahko premikale kroglice. Ta oblika se še danes uporablja na Kitajskem, Japonskem in nekaterih drugih delih sveta. Iz nje se je na razvil "ch'eou" na Kitajskem ter "sangi" na Japonskem. Abak se na Kitajskem prvič omenja v dinastiji Han, ki je trajala od 2. stoletja pred našim štetjem do 2. stoletja po našem štetju. (Kojima, 1963)</p>

<p class="text-justify">V času dinastije Han so po dveh svilnih cestah potekali trgovski stiki med zahodom in vzhodom, zato lahko predvidevamo, da so abak Kitajcem prvotno predstavili Rimljani. Oblika abaka, ki se danes uporablja na Kitajskem, je nastala v 12. stoletju. Kitajska beseda zanj je 'suan-pan' in v prevodu pomeni tabla za računanje. (Kojima, 1970) Razcvet trgovine in industrije v času dinastije Ming (1368 - 1636) sta pripomogla k večji razširjenosti in razvoju kitajskega sorobana. V tem času je izšlo tudi precej matematičnih knjig za soroban, ki so predstavile modernejše metode računskih operacij pri množenju in deljenju. V času dinastije Ming je imel kitajski abak 2 kroglici za pet enot in 5 kroglic za eno enoto. Soroban z 2 kroglicama za 5 enot je bolj primeren za starejše metode deljenja, ki uporabljajo posebno tabelo za deljenje. (Kojima, 1963)</p>

<p class="text-justify">V Evropi se je računska tabla s črticami prvič pojavila v Franciji in sicer na začetku 13. stoletja in hitro postala popularna. V Franciji so jo uporabljali od 13. do 17. stoletja v trgovinah, vladnih organizacijah ter tudi gospodinjstvih. V času francoske revolucije so v 18. stoletju abak z rimskimi številkami odpravili in v celotni državi uvedli arabski številski sistem in arabske računske metode.  (Kojima, 1963)</p>

<p class="text-justify">Japonski izraz za abak je 'soroban' in je verjetno nastal iz kitajskega izraza 'suan-pan'. Soroban je na Japonskem sicer postal popularen šele v 17. stoletju. Japonskim trgovcem pa je bil poznan že nekaj stoletij prej. Ko je ta priročen pripomoček za računanje postal priljubljen, so ga številni Japonci temeljito preučili. Na Japonskem je bil soroban s strani različnih matematikov deležen izboljšave za izboljšavo. Eden izmed bolj znanih je bil Seki Kowa (1640 - 1708). Do revolucije leta 1868 sta se na Japonskem uporabljali dve vrsti abaka. (Kojima, 1963) Prvi je bil v kitajskem stilu in je imel podobno kot kitajski suan-pan zgoraj 2 kroglici za pet enot in spodaj 5 kroglic za eno enoto. Drugi pa je bil japonska poenostavitev in je imel zgoraj eno kroglico za petice in spodaj 5 kroglic za enice. Po revoluciji se je abak s kitajskim stilom na Japonskem prenehal uporabljati. Leta 1920 pa je dobil dokončno obliko, ki jo poznamo še danes, in sicer tako, da se je število kroglic pod palčko zmanjšalo iz pet na štiri. Soroban je torej rezultat truda vzhodnjaških matematikov in njihovih izboljšav. (Kojima, 1970)</p>

<p class="text-justify">V zahodnih državah je v vrtcih in šolah razširjen abak, ki ima horizontalno postavljenih 10 palčk in na vsaki od njih 10 kroglic. Z njim se lahko zapisuje števila brez decimalne vejice. Uporablja se ga lahko tako, da ima vsaka palčka in vsaka kroglica enako vrednost in sicer 1. Na ta način se lahko nanj zapiše števila do 100. (newworldencyclopedia.org, 2018) Običajno so ti abaki dvobarvni (prvih 5 kroglic na palčki je drugačne barve kot ostalih 5 kroglic).</p>

<img src="~/images/soroban05.jpg" class="img-responsive center-block" width="200 px"/>
<p class="text-center">Slika 2.6: Abak v zahodnih državah (newworldencyclopedia.org, 2010)</p>

<p class="text-justify">Obstaja pa tudi abak z 10 palčkami na katerih je 9 kroglic pri čemer kroglice na prvi palčki predstavljajo enice, kroglice na drugi palčki desetice, kroglice na tretji palčki stotice, itd. Na ta način se z njim lahko zapiše števila do 9.999.999.999. (lemon-film.com, 2018)</p>

<p class="text-justify">Viri:</p>
<p class="text-justify">Kojima, T. (1963). Advanced abacus. Tokyo: Charles E. Tuttle Company</p>
<p class="text-justify">Kojima, T. (1970). The japanese abacus: Its use and theory. Tokyo: Charles E. Tuttle Company</p>
<p class="text-justify">The abacus: A brief history. (2. 10 2018). Pridobljeno iz https://www.ee.ryerson.ca/~elf/abacus/history.html</p>
<p class="text-justify">Abacus Maths. (1. 10. 2018). Pridobljeno iz https://www.abacus-maths.com/abacus-history1.html</p>
<p class="text-justify">Abacus. (4. 10. 2018). Pridobljeno iz http://www.newworldencyclopedia.org/entry/Abacus</p>
<p class="text-justify">How To Use 9 Beads Abacus. (4. 10. 2018). Pridobljeno iz http://lemon-film.com/how-to-use-9-beads-abacus</p>
