@page
@model Bistroum.Pages.ZgradbaModel
@{
    ViewData["Title"] = "Zgradba";
}

<h2>Zgradba</h2>
<p class="text-justify">Sestavljen je iz podolgovatega, največkrat lesenega okvirja v katerega so vpete vertikalne palčke na katerih so nameščene kroglice, ki se lahko premikajo gor in dol. Prečka, ki poteka po celi dolžini abaka, razdeli palčke na dva sektorja in sicer zgornjega ter spodnjega. Japonski soroban ima največkrat 21 stolpcev in je dolg 30 cm. Poznamo pa tudi večje izvedbe, ki imajo 27 ali 31 stolpcev. Prav tako pa tudi manjše, ki imajo le 17 ali 13 stolpcev. Se je pa število kroglic na palčki skozi čas zmanjševalo, s čimer je soroban postajal preprostejši in enostavnejši za uporabo. Sprva je imel 7 kroglic, nato 6, sedaj pa jih ima le še 5. Moderni japonski soroban ima tako pod osrednjo prečko le 4 kroglice, prejšnja oblika pa je imela spodaj 5 kroglic.</p>

<p class="text-justify">Soroban temelji na decimalnem sistemu in za lažjo uporabo je na okvirju pri vsakem tretjem stolpcu narisana pika. Te pike označujejo decimalno vejico. Če na sredini sorobana poiščemo palico s piko, potem velja, da prvo palico levo od pike imenujemo desetiška, drugo stotiška, tretjo (ponovno je označena s piko) tisočiška, itd.  (Kojima, 1970)</p>

<p class="text-justify">Viri:</p>
<p class="text-justify">Kojima, T. (1970). The japanese abacus: Its use and theory. Tokyo: Charles E. Tuttle Company</p>