@{ 
    Layout = "/Pages/_Layout.cshtml";
}

<h2>Upravljaj svoj ra&#269;un</h2>

<div>
    <h4>Spremeni nastavitve svojega ra&#269;una</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            @await Html.PartialAsync("_ManageNav")
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
        
