body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}



/* bistroum dodatki */
/* Elipse sorobana */
ellipse {
    stroke: black;
    fill: burlywood;
}

/* Okvir sorobana */
#okvir {
/* ne dela v FF
    width: 100%;
    height: 100%;
*/
    stroke: slategray;
    stroke-width: 30;
    fill: lavender;
}

.okvir {
    stroke: slategray;
    stroke-width: 12;
}

.palcke {
    stroke: slategray;
    stroke-width: 12;
}

#resetGumb {
    fill: slategray;
    stroke: slategray;
    stroke-width: 1;
}

#resetTekst {
    fill: white;
    font-size:large;
    font-weight: bold;
}


/* Oznacbe na sorobanu */
circle {
    stroke: white;
    stroke-width: 4;
    fill: white;
}



/* Vodoravna èrta sorobana */
#sredinskaCrta {
    stroke: slategray;
    stroke-width: 11;
}
