body {
/* Zakomentirano zaradi navbar-static-top, odkomentiraj pri navbar-fixed-top
    padding-top: 50px; 
*/
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}



/* bistroum dodatki 
#AA7639, #323875, 
#67AB73, #B86F94 roza
#D4AD6A, #44887B
#D4AD6A, #5D5393
#3C8C4A, #95C89E, #96416C = zelene kroglice, vijolièen okvir
*/
/* Elipse sorobana */
ellipse {
    stroke: #3C8C4A;
    fill: #95C89E;
}

/* Okvir sorobana */
.okvir {
    stroke: #96416C;
    stroke-width: 12;
}

/* Vodoravna èrta sorobana */
#sredinskaCrta {
    stroke: #96416C;
    stroke-width: 11;
}

#resetGumb {
    fill: #96416C;
    stroke: #96416C;
    stroke-width: 1;
}

#resetTekst {
    fill: white;
    font-size:large;
    font-weight: bold;
}


/* Oznacbe na sorobanu */
circle {
    stroke: white;
    stroke-width: 4;
    fill: white;
}




